.color--trivago-blue,
.md-icon .color--trivago-blue {
  color: #007FAF !important;
}
.color--trivago-orange,
.md-icon .color--trivago-orange {
  color: #F48F00 !important;
}
.color--trivago-red,
.md-icon .color--trivago-red {
  color: #CA4A38 !important;
}
.color--not-assigned,
.md-icon .color--not-assigned {
  color: #b9b9b9 !important;
}
.bg-color--trivago-blue {
  background-color: #007FAF;
  color: white;
}
.bg-color--trivago-orange {
  background-color: #F48F00;
  color: white;
}
.bg-color--trivago-red {
  background-color: #CA4A38;
  color: white;
}
.flex-direction--row {
  display: flex;
  flex-direction: row;
}
.flex-direction--column {
  display: flex;
  flex-direction: column;
}
.flex--weight-1 {
  flex: 1;
}
.flex--weight-2 {
  flex: 2;
}
.flex--weight-8 {
  flex: 8;
}
.md-card.card--white {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  box-shadow: none;
  background-color: white;
  border: 1px solid #00000022;
  padding: .3rem .5rem;
  text-align: start;
  white-space: pre-line;
}
.card__content {
  box-sizing: border-box;
  font-size: .85rem;
  font-weight: 500;
  color: #212121;
  white-space: pre-wrap;
  padding: .2rem 0;
}
.md-chip.margin--5-2 {
  margin: 5px 2px;
}
.width-50 {
  box-sizing: border-box;
  align-self: flex-start;
  width: 50%;
}
.md-button:active,
.md-button:focus {
  outline: none;
}
a, a:visited, a:focus, a:hover {
  color: #616161;
  text-decoration: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0
}
.md-icon.md-icon-font.icon--size-sm {
  width: 18px !important;
  min-width: 18px !important;
  height: 18px !important;
  font-size: 1em !important;
}
